body {
    margin: 70px;
    font-family: "Arial";
}
h1{
    margin: 0;
}
.ImgNewsPaper{
    width: 70px;
}
.Heading {   
    margin: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
.txtDate {
    align-self: left;
    margin-top: 0px;
}
.NavBar {
    padding: 19px;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    margin-bottom: 45px;
}

.NavList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
}

.NavList li {
    margin: 0;
}

.NavList a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    padding: 8px 16px; 
}

.NavList a:hover {
    background-color: #540100;
    color: white;
    border-radius: 4px;
}

.DivWriting {
    display: flex;
  }
  
  .Column {
    flex: 1; 
  }
  
  .divColumn1, .divColumn2, .divColumn3 {
    padding: 1px 36px 6px 36px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; 
    box-sizing: border-box;
    width: 100%
  } 
  
.ImgTJLand {
    width: 300px;
}
.ImgWMLand{
    width: 300px;
}
.ImgArtP{
    width: 300px;
}
.ImgTJLand, .ImgWMLand, .ImgArtP {
    width: 100%;
}