body {
    margin: 70px;
    margin-top: 4px;
    font-family: "Arial";
}
h1{
    text-align: center;
}
.NavBar {
    background-color: #ffffff;
    padding: 19px;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    margin-bottom: 45px;
}

.NavList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
}

.NavList li {
    margin: 0;
}

.NavList a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
    padding: 8px 16px; 
}

.NavList a:hover {
    background-color: #94e1fa;
    border-radius: 4px;
}

.DivWriting {
    display: flex;
  }
  
  .Column {
    flex: 1; 
  }
  
  .divColumn1, .divColumn2, .divColumn3 {
    padding: 1px 36px 6px 36px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; 
    box-sizing: border-box;
    width: 374px
  } 
  
.ImgTJLand {
    width: 300px;
}
.ImgWMLand{
    width: 300px;
}
.ImgArtP{
    width: 300px;
}